/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    text-align: center;
}
.modal-content p {
    margin: 20px 0;
    font-size: 18px; /* Adjusted font size */
    color: #333; /* Adjusted text color */
    font-family: 'Georgia', serif; /* Updated font-family */
    line-height: 1.5; /* Adjusted line-height for better readability */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Image */
.modal-image {
    max-width: 30%;
    height: auto;
}

/* Modal Button */
.modal-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%); /* Blue gradient */
    border: none;
    color: white;
    border-radius: 5px;
    transition: background 0.3s ease;
}


#mobileOrEmailInput {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0072ff; /* Blue border */
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

#mobileOrEmailInput:focus {
    border-color: #00c6ff; /* Blue border color when focused */
}

@media screen and (max-width: 600px) {
    .modal-content {
      width: 70%; /* Adjust width for small screens */
    }
}